.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert {
    text-align: center;
    font-weight: bold;
}

.attendance__alert--danger ul {
    margin: 0;
}

.attendance__panel,.break__panel {
    margin: 0 auto;
    width: 70%;
    display: flex;
}

.attendance__button,.break__button {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
}

.attendance__button-submit,.break__button-submit {
    padding: 5px;
    width: 70%;
    height: 110px;
    border: none;
    border-radius: 3px;
    background: #fff;
    font-weight: bold;
    font-size: 2.5vb;
    color: #000;
    cursor: pointer;
}

.attendance__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}
